<div>
  <h4>Data Bindings</h4>
  Firstname : {{firstname}}<br /> 
  Lastname : {{lastname}}<br /> 
  Age : {{age}}<br /> 
  Receive News Letters : {{receivenewsletters}}<br/> 
  Gender : {{gender}}<br /> 
  Country : {{country}}
  <hr />
  <a [href]="address">Click Here</a>
  <hr /> 
  Firstname : <input type="text" [(ngModel)]="firstname" /><br /> 
  Lastname : <input type="text" [(ngModel)]="lastname"/><br /> 
  Age : <input type="text" [(ngModel)]="age" /><br /> 
  Receive News Letters : <input type="text" [(ngModel)]="receivenewsletters"/><br /> 
  Gender :
  <input type="radio" [(ngModel)]="gender" value="Male" />Male
  <input type="radio" [(ngModel)]="gender" value="Female" />Female<br /> 
  Country : 
  <select [(ngModel)]="country">
    <option>India</option>
    <option>UK</option>
    <option>USA</option>
  </select>
  <br />
  <input type="button" value="Change Data" (click)="ChangeDate()" />
</div>
